html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Hierboven een reset van de css (laten staan) */

/* Menubalk */

h1, h2, h3,
h4, h5, h6 {
    color: #4a4a4a;
    font-family: 'Alfa Slab One', cursive;
}

*{
    box-sizing: border-box;
}

body {
    max-width: 100%;
    position: relative;
    height: 100%;
    background-color: #00aeef;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    justify-content: space-between;
    color: #4a4a4a;
    background-color: white;
}

header > section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

header > h1 {
    display: inline;
}

#welkom {
    text-align: center;
    color: white;
}

/* Tussen de menubalk & en de posts */

main h1 {
    text-align: center;
        margin-top: 2em;
}

#filter {
    display: flex;
    justify-content: center;
    padding: 1em 0em 0em 0em;
}

h5 {
    text-align: center;
}

input:focus {
    outline: none;
}

#filter fieldset  {
    position: relative;
    margin-top: 1em;
    background-color: #0299d2;
    border-radius: 10px;
    overflow: hidden;
}

#filter select {
    border: none;
    width: 8em;
    padding: .3em;
    margin-right: -4px;
    height: 100%;
        background-color: #0299d2;
}

#filter button {
    height: 100%;
    border: none;
    background-color: #0299d2;
    padding: 6px;
    color: white;
}

button {
    background-color: white;
}

/* Posts */

#indexpagina {
    padding-bottom: 4em;
    text-align: center;
}

a {
    text-decoration: none;
}

article {
    display: flex;
    flex-flow: column;
    background-color: white;
    max-width: 400px;
    width: 100%;
    padding-bottom: 2.5em;
    margin-bottom: 2em;
    border-radius: 10px;
}

article > img {
    width: 100%;
    border-top-right-radius: 10px;
     border-top-left-radius: 10px;
}

img {
    width: 80%;
}

#form label zoeken {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    border: 0px;
}

.icons {
    width: 20px;
    margin: 8px;
}

.post {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 1em .5em;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    padding: 1em 0em 1em 0em;
    color: #4a4a4a;
    font-family: 'Alfa Slab One', cursive;
}

.tekstpost {
    padding: 0 .7em;
    color: #4a4a4a;
        height: 3em;
}

.kijkbutton {
    position: relative;
    bottom: -1.2em;
    left: 25%;
    padding: 1em;
    display: block;
    width: 50%;
    text-align: center;
    color: white;
    background-color: #f222b0;
    border-radius: 10px;
}

#zoek {
    display: inline-block;
}


/* Detailpagina's */

iframe {
    height: 315px;
    width: 100%;
}

.pijl {
    width: 50px;
    margin-bottom: .5em;
    padding: 10px 10px 10px 0;
}

.interactiebuttons {
    display: flex;
    flex-flow: row;
        margin-left: .6em;
}

.interactiebuttons img {
    width: 50px;
        height: 50px;
}

.sectiondetail {
    padding: 1.5em 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
        margin-bottom: 2em;
}

.sectiondetail < article {
    display: block;
    max-width: 600px;
    width: 100%
}

.sectiondetail > article > p {
    padding: .6em 1em;
}

h2 {
    text-align: center;
    padding: 1em;
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
}

.icondetailpagina {
    width: 50px;
    margin: 8px;
    padding: .6em;
}

/* Aanmeldpagina */

#aanmeldpagina form {
    margin: 2em 0 3.5em 0;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    transition: .2s;
}

form:focus-within {
    transform: scale(1.1);
}

input:focus {
    border: 2px solid #0299d2;
}

input:valid {
    border: 2px solid lightgreen;
}

.formulier {
    display: flex;
        flex-flow: column;
    justify-content: center;
    background: white;
    padding: 2em 2.2em;
}

.formulier label {
    margin: .6em 0em;
}

.formulier .button {
    border: none;
    background-color: #0299d2;
    padding: .5em;
    margin: .7em 0;
    color: white;
    transition: background .2s;
}

.formulier .button:hover {
    background-color: #0078a6;
}

.formulier .button:active {
    border: 2px solid #4a4a4a;

}

.formulier h4 {
    font-family: 'Alfa Slab One', cursive;
    padding: .5em 0em;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: right;
    padding: .5em;
    margin: 4em 0em 0em 0em;
}

.liked {
    animation: like .4s ease
}

@keyframes like {
    60% {
    transform: scale(1.2)
    }
    100% {
    transform: scale(1)
    }
}

.shared {
    animation: share .4s ease-in
}

@keyframes share {
    100% {
    transform: rotate(360deg)
    }
}

.popup {
    display: none;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 52%;
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    transform: translate(-50%,-50%);
    z-index: 100;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.5);
    transition: .6s;
}

.popupshow {
    display: block;
}

.popup input {
    line-height: 6em;
    width: 100%;
    margin-bottom: 2em;
}

.popup .button {
    display: block;
    border: none;
    background-color: #0299d2;
    padding: .5em 2em;
    margin: 0 auto;
    color: white;
}

/* ipad */

@media (min-width: 52em) {

    .sectiondetail {
    flex-flow: row;
    }

    .post {
        flex-flow: row wrap;
        justify-content: space-evenly;
        box-sizing: border-box;
        align-items: stretch;
    }

    article {
        background-color: white;
        max-width: 400px;
        flex: 0 0 50%;
        padding-bottom: 2.5em;
        border-radius: 10px;
        height: 100%;
    }

/* groter */
@media (min-width:64em) {

    header {
    flex-flow: row;
    }

    header > section {
    display: flex;
    align-items: center;
    }

    header > h1 {
    display: inline;
    }

        .sectiondetail < article {
    display: block;
    max-width: 560px;
    width: 100%
    }
        article {
            flex: 0 1 33%;
        }

        .post {
            max-width: 64em;
            margin: auto;
            justify-content: space-between;
        }

}


/* Gebruikte icons komen van flaticon
& gebruikt gemaakt van https://www.cssmatic.com/box-shadow */


